
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #000;
}

#res-canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.fps-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  
  > p {
    all: unset;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }
}